<IfModule mod_rewrite.c>
RewriteCond %{HTTP_HOST} ^bh-ingenieria.com [NC]
RewriteRule (.*) http://www.bh-ingenieria.com/$1 [R=301,L,QSA]
RewriteCond %{HTTPS} on
RewriteRule (.*) http://www.ejemplo.com/$1 [R=301,L,QSA]
</IfModule>